* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: auto;
  background-color: black;
}

#myVideo {
  right: 0;
  bottom: 0;
  height: auto;
  text-align: center;
  position: relative;
  width: 100vw;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -2;
}

.content {
  position: fixed;
  top: 0;
  background: black;
  opacity: 0.8;
  color: #f1f1f1;
  width: 100%;
  padding-left: 50px;
  z-index: -1;
}

#myBtn {
  width: 10vh;
  font-size: 2vh;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#head {
  font-size: 6vh;
  font-family: 'Pacifico', cursive;
}

h1 {
  font-family: 'Pacifico', cursive;
}

p {
  font-family: 'Questrial', sans-serif;
}

/* .glow {
  /* color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

.container {
  background-color: black;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: '. .';
}

.about-img {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  background-color: black;
  color: white;
}

/* card css */

.card-deck {
  background-color: black;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-template-columns: auto auto auto auto;
  /* padding: 10px 10px 10px 10px; */
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
}

.card {
  background-color: transparent;
  position: relative;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  padding: 20px 20px 10px 20px;
  text-align: center;
  height: 80%;
  transform-origin: center right;
}

.card h3 {
  font-size: 3vmax;
  font-family: 'Pacifico', cursive;
}

.card-text {
  font-size: 2vmax;
  font-family: 'Questrial', sans-serif;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  border-radius: 50%;
  box-shadow: 0 10px 50px purple;
}

.card:hover {
  box-shadow: 0 8px 16px 0 purple;
}

/* card flip */

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-front {
  background-color: black;
}

.card-back {
  background-color: black;
  position: relative;
  bottom: 60%;
  transform: rotateY(180deg);
}

/* Button CSS */

.button {
  background-color: #9a4ef1;
  color: white;
  font-family: 'Pacifico', cursive;
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: purple;
  color: black;
}

/* responsive cards */

@media (max-width: 760px) {
  .card-deck {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-deck {
    grid-template-columns: repeat(1, 1fr);
  }
}
